<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
   
    <!--Start Admin Edit Section-->
    <add key="botid" value="Adient-Dev-PDL" />
    <!--botid - This are the azure bot channel configurations-->
    <add key="microsoftappid" value="91576405-2b7e-4c5a-afc0-2ca02605171b" />
    <!--microsoftappid - This are the azure bot channel configurations-->
    <add key="microsoftapppassword" value="ahaqUFUK89[+)vbjCQO559}" />
    <!--microsoftapppassword - This are the azure bot channel configurations-->
	  <add key="IntentActionDetailFile" value="NewIntentActions.json" />
    <!--IntentActionDetailFile - The path where the Intent Actions JSON file is present, give the path with file name.-->
    <!--Start OAuth Configuration Section-->
    <add key="aad:Callback" value="https://adientdevpdlbot.azurewebsites.net/callback" />
    <add key="aad:Authority" value="https://login.microsoftonline.com/adient.onmicrosoft.com" />
    <add key="aad:ClientId" value="ba8807d4-5470-4f02-921d-b7aeec3106b9" />
    <add key="aad:ClientSecret" value="me46QRVsr1xQ9V3yLtfk6IOxZhPJffpumEedK34m164=" />
    <!--End OAuth Configuration Section-->
	
	<!--Start OAuth Configuration Section-->
	<add key="sso:Authority" value="https://login.windows.net/" />
    <add key="sso:TenantID" value="21f195bc-13e5-4339-82ea-ef8b8ecdd0a9" />
    <add key="sso:nonce" value="AB7225AE13980682886B2FEF804F8F0B5D2974" />
    <add key="BotAPIURL" value="https://adientdevpdlbot.azurewebsites.net" />
	 <!--End OAuth Configuration Section-->
    <!--Start LUIS Configuration Section-->
    <add key="LUISAppId" value="dff72710-0c57-4fe6-8a02-f560bb26dfe0" />
    <add key="LUISAppSecret" value="eba5c1d9b7b849cdbea4b0d971fe6399" />
    <add key="LUISDomain" value="eastus" />
    <add key="BingSpellCheckKey" value="6cac7ab03de840c5b47cdaab42d8c5e9" />
    <add key="EnableBingSpellCheck" value="No" />
    <add key="TopIntentMinimumScore" value="0.49" />
    <!--End LUIS Configuration Section-->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=adientaevpdlstorage;AccountKey=FCi68TikuvSad7X6ezcV3sJ3fiX9S0+aDruJTtPkyZ9xaaj4/Pja7hozWL9cYmoZEgoHh1eGX733g1hj8rT5zw==;EndpointSuffix=core.windows.net" />
    <!--StorageConnectionString - The connection string of azure storage account to store asynch task,history and logs-->
    <add key="UserDetailInLog" value="Yes" />
    <!--UserDetailInLog - Enable user details on log file-->
	  <add key="DetailLogs" value="true" />
    <!--DetailLogs - Line by line log Enable-->
	  <add key="EnableAuthorizedBot" value="Yes" />
    <!--EnableAuthorizedBot - Allow Bot to ask login to user with azure account-->
    <add key="JSONFileFromBusinessServer" value="No" />
    <!--FirstPreferenceBusinessServForJSON - Allow Bot to ask login to user with azure account-->
    <add key="AllowedGroupNames" value="" />
    <!--End Admin Edit Section-->   
    <add key="KBURL" value="https://adientdevpdltomcat.azurewebsites.net/GenG/REST/search" />
    <!--KBURL - Knowledge Base URL-->
	<add key="IntentsFromStorageAcc" value="No" />
	 <!--Variable to get Intents from storage account-->	
	 
	  <add key="MediumLoginLevel" value="1200" />
    <add key="HighLoginLevel" value="5" />
    <add key="NormalLoginLevel" value="1440" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
   <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".txt" />
      <mimeMap fileExtension=".txt" mimeType="text/plain" />
     </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.htm" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
 <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBinding_IBotMessageProcess" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="02:25:00" openTimeout="02:20:00" receiveTimeout="02:10:00" sendTimeout="02:25:00" />
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBotMessageProcess" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.131.140.67/BotMessageProcess.svc" binding="webHttpBinding" contract="IBotMessageProcess" behaviorConfiguration="webhttp" bindingConfiguration="webHttpBinding_IBotMessageProcess" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webhttp">
          <enableWebScript />
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863AF14B0044DA" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.4.0" newVersion="5.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bot.Connector" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.16.1.38846" newVersion="3.16.1.38846" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bot.Builder" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.16.1.38846" newVersion="3.16.1.38846" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bot.Builder.Autofac" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.16.1.38846" newVersion="3.16.1.38846" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bot.Builder.History" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.15.2.0" newVersion="3.15.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Storage.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: E7EFF1DE-0082-4E3C-9A08-02BA51A351E1-->